.outer-container
{
    border: 2px solid #000000;
    background-color: rgb(220, 221, 222);
    width: 500px;
    height: 500px;
    padding: 30px;
   
}
body
{
    display:flex; 
    align-items: center;
    justify-content: center;
     height:90vh ;
}
.inner-container
{
    background-color: rgb(250, 250, 250);
    width: 400px;
    height: 400px;
    margin: 60px;
    border-radius: 15px;
    text-align: center;
}
.balance
{
    padding: 20px;
    margin: 20px;
    color: rgb(0, 142, 95);
    font-size: 32px;
}
.Deposit
{
    background-color: rgb(3, 142, 63);
    color:white;
    border-radius: 5px;
    width: 300px;
    padding: 12px;
    margin: 5px;
    border: none;
    font-size: 16px;
}
.Withdraw
{
    background-color: rgb(201, 6, 6);
    color: white;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 16px;

}